:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --secondary-color: #ffffff;
    --tertiary-color: #000;
    --quaternary-color: #212121;
    --fifth-color: #757575;
    --sixth-color: #2f303a;
    --seventh-color: #188ce8;
    --ninth-color: #ececec;
    --tenth-color: #f5f4fa;
    --eleventh-color: #afb1b8;
}
